@import '@constants/colors';

.return-ticket-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 100%;

    .button{
        width: 100%;
    }
}

.return-ticket-modal__text{
    color: $dark-color;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}