@import '@constants/colors';

.time-picker {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.time-picker__name {
	font-size: 12px;
}

.time-picker__seances {
	display: flex;
	column-gap: 8px;
}

.seance__time-button {
	font-size: 14px;
	padding: 10px 16px;
	color: $dark-color;
	border: 1px #ced2da solid;
	background-color: $light-color;
	border-radius: 14px;
}

.--active-time {
	background-color: $medium-color;
	color: $light-color;
}
